{{ 'section-lago-page-media-bullets.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign col1_image = section.settings.column_1_image
  assign col2_image = section.settings.column_2_image
-%}

<section
  class="lago-page-media-bullets color-{{ section.settings.color_scheme }} gradient"
  style="
    --lago-media-bullets-col-heading-size: {{ section.settings.column_heading_font_size }}px;
    --lago-media-bullets-intro-block-heading-font-size: {{ section.settings.intro_block_heading_font_size }}px;
    --lago-media-bullets-intro-block-heading-font-weight: {{ section.settings.intro_block_heading_font_weight }};
    --lago-media-bullets-intro-block-heading-line-height: {{ section.settings.intro_block_heading_line_height }};
    {% if section.settings.intro_block_heading_color != blank %}--lago-media-bullets-intro-block-heading-color: {{ section.settings.intro_block_heading_color }};{% endif %}
    --lago-media-bullets-intro-block-text-font-size: {{ section.settings.intro_block_text_font_size }}px;
    --lago-media-bullets-intro-block-text-font-weight: {{ section.settings.intro_block_text_font_weight }};
    --lago-media-bullets-intro-block-text-line-height: {{ section.settings.intro_block_text_line_height }};
    {% if section.settings.intro_block_text_color != blank %}--lago-media-bullets-intro-block-text-color: {{ section.settings.intro_block_text_color }};{% endif %}
  "
>
  <div class="page-width section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="lago-page-media-bullets__heading {{ section.settings.heading_size }}">
        {{ section.settings.heading | escape }}
      </h2>
    {%- endif -%}

    <div class="lago-page-media-bullets__grid">
      <div class="lago-page-media-bullets__col">
        {%- if col1_image != blank -%}
          <div class="lago-page-media-bullets__image-wrap">
            {{
              col1_image
              | image_url: width: 1400
              | image_tag:
                loading: 'lazy',
                widths: '550, 750, 900, 1100, 1400',
                sizes: '(min-width: 990px) 50vw, 100vw',
                class: 'lago-page-media-bullets__image',
                alt: col1_image.alt | default: section.settings.column_1_title
            }}
          </div>
        {%- endif -%}

        <div class="lago-page-media-bullets__col-text" style="padding-top: {{ section.settings.column_1_text_padding_top }}px;">
          {%- if section.settings.column_1_title != blank or section.settings.column_1_text != blank -%}
            <div
              class="lago-page-media-bullets__intro"
              style="margin-top: {{ section.settings.column_1_intro_margin_top }}px;"
            >
              {%- if section.settings.column_1_title != blank -%}
                <h3 class="lago-page-media-bullets__intro-title">{{ section.settings.column_1_title | escape }}</h3>
              {%- endif -%}
              {%- if section.settings.column_1_text != blank -%}
                <div class="lago-page-media-bullets__intro-text rte">{{ section.settings.column_1_text }}</div>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="lago-page-media-bullets__stack">
            {%- for block in section.blocks -%}
              {%- if block.settings.column == '1' -%}
                {%- case block.type -%}
                  {%- when 'column_intro' -%}
                    <div class="lago-page-media-bullets__group" {{ block.shopify_attributes }}>
                      {%- if block.settings.heading != blank -%}
                        <h4 class="lago-page-media-bullets__group-heading">{{ block.settings.heading | escape }}</h4>
                      {%- endif -%}
                      {%- if block.settings.text != blank -%}
                        <div class="lago-page-media-bullets__group-text rte">{{ block.settings.text }}</div>
                      {%- endif -%}
                    </div>
                  {%- when 'bullet' -%}
                    <div class="lago-page-media-bullets__bullet" {{ block.shopify_attributes }}>
                      {%- if block.settings.icon != blank -%}
                        <div class="lago-page-media-bullets__bullet-icon">
                          {{
                            block.settings.icon
                            | image_url: width: 60
                            | image_tag:
                              loading: 'lazy',
                              widths: '60, 120',
                              sizes: '60px',
                              alt: block.settings.icon.alt | default: block.settings.title,
                              class: 'lago-page-media-bullets__bullet-icon-img'
                          }}
                        </div>
                      {%- endif -%}
                      <div class="lago-page-media-bullets__bullet-body">
                        {%- if block.settings.title != blank -%}
                          <div class="lago-page-media-bullets__bullet-title">{{ block.settings.title | escape }}</div>
                        {%- endif -%}
                        {%- if block.settings.text != blank -%}
                          <div class="lago-page-media-bullets__bullet-text rte">{{ block.settings.text }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                {%- endcase -%}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>

      <div class="lago-page-media-bullets__col">
        {%- if col2_image != blank -%}
          <div class="lago-page-media-bullets__image-wrap">
            {{
              col2_image
              | image_url: width: 1400
              | image_tag:
                loading: 'lazy',
                widths: '550, 750, 900, 1100, 1400',
                sizes: '(min-width: 990px) 50vw, 100vw',
                class: 'lago-page-media-bullets__image',
                alt: col2_image.alt | default: section.settings.column_2_title
            }}
          </div>
        {%- endif -%}

        <div class="lago-page-media-bullets__col-text" style="padding-top: {{ section.settings.column_2_text_padding_top }}px;">
          {%- if section.settings.column_2_title != blank or section.settings.column_2_text != blank -%}
            <div
              class="lago-page-media-bullets__intro"
              style="margin-top: {{ section.settings.column_2_intro_margin_top }}px;"
            >
              {%- if section.settings.column_2_title != blank -%}
                <h3 class="lago-page-media-bullets__intro-title">{{ section.settings.column_2_title | escape }}</h3>
              {%- endif -%}
              {%- if section.settings.column_2_text != blank -%}
                <div class="lago-page-media-bullets__intro-text rte">{{ section.settings.column_2_text }}</div>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="lago-page-media-bullets__stack">
            {%- for block in section.blocks -%}
              {%- if block.settings.column == '2' -%}
                {%- case block.type -%}
                  {%- when 'column_intro' -%}
                    <div class="lago-page-media-bullets__group" {{ block.shopify_attributes }}>
                      {%- if block.settings.heading != blank -%}
                        <h4 class="lago-page-media-bullets__group-heading">{{ block.settings.heading | escape }}</h4>
                      {%- endif -%}
                      {%- if block.settings.text != blank -%}
                        <div class="lago-page-media-bullets__group-text rte">{{ block.settings.text }}</div>
                      {%- endif -%}
                    </div>
                  {%- when 'bullet' -%}
                    <div class="lago-page-media-bullets__bullet" {{ block.shopify_attributes }}>
                      {%- if block.settings.icon != blank -%}
                        <div class="lago-page-media-bullets__bullet-icon">
                          {{
                            block.settings.icon
                            | image_url: width: 60
                            | image_tag:
                              loading: 'lazy',
                              widths: '60, 120',
                              sizes: '60px',
                              alt: block.settings.icon.alt | default: block.settings.title,
                              class: 'lago-page-media-bullets__bullet-icon-img'
                          }}
                        </div>
                      {%- endif -%}
                      <div class="lago-page-media-bullets__bullet-body">
                        {%- if block.settings.title != blank -%}
                          <div class="lago-page-media-bullets__bullet-title">{{ block.settings.title | escape }}</div>
                        {%- endif -%}
                        {%- if block.settings.text != blank -%}
                          <div class="lago-page-media-bullets__bullet-text rte">{{ block.settings.text }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                {%- endcase -%}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Lago media bullets",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Section heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Section heading size",
      "options": [
        { "value": "h2", "label": "Small" },
        { "value": "h1", "label": "Medium" },
        { "value": "h0", "label": "Large" }
      ],
      "default": "h1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "column_heading_font_size",
      "min": 14,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Column heading font size",
      "default": 32
    },
    {
      "type": "header",
      "content": "Text intro blocks"
    },
    {
      "type": "paragraph",
      "content": "Applies to the “Text intro” block (column_intro): heading + subtext."
    },
    {
      "type": "range",
      "id": "intro_block_heading_font_size",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Intro heading font size",
      "default": 22
    },
    {
      "type": "range",
      "id": "intro_block_heading_font_weight",
      "min": 300,
      "max": 800,
      "step": 100,
      "label": "Intro heading font weight",
      "default": 600
    },
    {
      "type": "range",
      "id": "intro_block_heading_line_height",
      "min": 1,
      "max": 2,
      "step": 0.05,
      "label": "Intro heading line height",
      "default": 1.25
    },
    {
      "type": "color",
      "id": "intro_block_heading_color",
      "label": "Intro heading color"
    },
    {
      "type": "range",
      "id": "intro_block_text_font_size",
      "min": 12,
      "max": 28,
      "step": 1,
      "unit": "px",
      "label": "Intro subtext font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "intro_block_text_font_weight",
      "min": 300,
      "max": 800,
      "step": 100,
      "label": "Intro subtext font weight",
      "default": 400
    },
    {
      "type": "range",
      "id": "intro_block_text_line_height",
      "min": 1,
      "max": 2.2,
      "step": 0.05,
      "label": "Intro subtext line height",
      "default": 1.55
    },
    {
      "type": "color",
      "id": "intro_block_text_color",
      "label": "Intro subtext color"
    },
    {
      "type": "header",
      "content": "Column 1"
    },
    {
      "type": "range",
      "id": "column_1_intro_margin_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Column 1 intro margin top",
      "default": 32
    },
    {
      "type": "range",
      "id": "column_1_text_padding_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Column 1 text padding top",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "column_1_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "column_1_title",
      "label": "Heading",
      "default": "Column heading"
    },
    {
      "type": "richtext",
      "id": "column_1_text",
      "label": "Subtext",
      "default": "<p></p>"
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "range",
      "id": "column_2_intro_margin_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Column 2 intro margin top",
      "default": 32
    },
    {
      "type": "range",
      "id": "column_2_text_padding_top",
      "min": 0,
      "max": 240,
      "step": 4,
      "unit": "px",
      "label": "Column 2 text padding top",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "column_2_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "column_2_title",
      "label": "Heading",
      "default": "Column heading"
    },
    {
      "type": "richtext",
      "id": "column_2_text",
      "label": "Subtext",
      "default": "<p></p>"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column_intro",
      "name": "Text intro",
      "settings": [
        {
          "type": "select",
          "id": "column",
          "label": "Column",
          "options": [
            { "value": "1", "label": "Column 1" },
            { "value": "2", "label": "Column 2" }
          ],
          "default": "1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Subtext",
          "default": "<p></p>"
        }
      ]
    },
    {
      "type": "bullet",
      "name": "Bullet row",
      "settings": [
        {
          "type": "select",
          "id": "column",
          "label": "Column",
          "options": [
            { "value": "1", "label": "Column 1" },
            { "value": "2", "label": "Column 2" }
          ],
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Subtext",
          "default": "<p></p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lago media bullets",
      "blocks": [
        {
          "type": "column_intro",
          "settings": {
            "column": "2",
            "heading": "We are passionate about water.",
            "text": "<p>We strive every day to deliver premium filtration that elevates the hydration experience to a whole new level.</p>"
          }
        },
        {
          "type": "column_intro",
          "settings": {
            "column": "1",
            "heading": "",
            "text": "<p></p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}

